* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* Sidebar */
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 70px;
  height: 100vh;
  background: linear-gradient(180deg, #05005a, #020038);
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  transition: 0.3s;
  overflow: hidden;
  z-index: 100;
}

.sidebar.active {
  width: 220px;
}

.menu-btn {
  color: white;
  font-size: 24px;
  background: none;
  border: none;
  margin-bottom: 15px;
  cursor: pointer;
}

.sidebar a {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 12px 20px;
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.sidebar a:hover {
  background: #0b0b8b;
}

.icon {
  font-size: 20px;
  min-width: 30px;
  text-align: center;
}

.text {
  opacity: 0;
  transition: 0.3s;
}

.sidebar.active .text {
  opacity: 1;
}

.logout-link {
  margin-top: auto;
  margin-bottom: 20px;
}

/* Page */
body {
  background: #ffffff;
}

.page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Profile Card */
.profile-container {
  background: linear-gradient(#1d1f69, #00407f);
  color: white;
  width: 420px;
  padding: 35px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.profile-image {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 15px;
  background: url('https://cdn-icons-png.flaticon.com/512/149/149071.png') center/cover;
}

.profile-container h2 {
  margin-bottom: 5px;
  color: white;
}

.role {
  color: white;
  font-size: 14px;
  margin-bottom: 25px;
}

.info {
  text-align: left;
  margin-top: 10px;
}

.info p {
  margin: 10px 0;
  font-size: 14px;
  color: white;
}

.label {
  font-weight: 600;
  color: #222;
}

/* Buttons */
.buttons {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
}

button:hover {
  opacity: 0.9;
}

.edit-btn {
  background: #4CAF50;
  color: white;
}

.logout-btn {
  background: #e53935;
  color: white;
}